@use 'global' as *;

.topics-cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: rem(56);
    row-gap: rem(40);
    max-width: rem(570);

    li {
        width: calc(50% - rem(56) / 2);
    }

    .topics-cards__img {

    }

    .topics-cards__meta {
        time {
            color: $green-gray;
            font-size: rem(13);
            font-weight: $regular;
            line-height: 1.2;
            font-family: $third-font-family;
        }
        .topics-cards__title {
            font-size: rem(20);
            line-height: 1.45;
            font-weight: $medium;
        }
    }

   


}