@use 'global' as *;

.topics-cards {
    display: flex;
    flex-wrap: wrap;
    column-gap: 56px;
    row-gap: 40px;
    max-width: 570px;

    li {
        width: calc(50% - 56px / 2);
    }

    .topics-cards__img {

    }

    .topics-cards__meta {
        time {
            color: $green-gray;
            font-size: 13px;
            font-weight: $regular;
            line-height: 1.2;
            font-family: $third-font-family;
        }
        .topics-cards__title {
            font-size: 20px;
            line-height: 1.45;
            font-weight: $medium;
        }
    }

   


}