@use 'global' as *;

.concept {
    margin-bottom: rem(106);
    @include mq() {
        margin-bottom: rem(80);
    }

    .concept__inner.inner {
        max-width: rem(1250);
        position: relative;
        .concept__body {
            display: flex;
            justify-content: space-between;
            @include mq() {
                flex-direction: column;
                align-items: center;
            }
            .concept__left {
                max-width: rem(297);
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                @include mq() {
                    flex-direction: row;
                    align-items: end;
                    max-width: initial;
                }
                img:nth-of-type(1) {
                    @include mq() {
                        width: 40%;
                    }
                }
                img:nth-of-type(2) {
                    padding-left: rem(50);
                    max-width: rem(267);
                    height: 100%;
                    @include mq() {
                        transform: translateY(rem(30));
                    }
                }
            }
            .concept__contents {
                padding-top: rem(70);
                padding-bottom: rem(118);
                max-width: rem(380);
                @include mq() {
                    padding-bottom: rem(30);
                }
                .cencept__title {
                    text-align: center;
                }
                .concept__text {
                    max-width: rem(364);
                    margin-inline: auto;
                    line-height: calc(38 / 17);
                    @include mq() {
                        max-width: rem(400);
                    }
                }
                .concept__btn {
                    text-align: center;
                }
            }
            .concept__img {
                padding-top: rem(140);
                max-width: rem(261);
                padding-left: rem(36);
                @include mq() {
                    padding-top: rem(0);
                    padding-left: 0;
                    max-width: rem(200);
                    margin-right: auto;
                }
            }
        }
    }
}


.top-about {
    background-color: $main-green;

    .top-about__inner {
        height: inherit;
        position: relative;
        &::before {
            content: '';
            background: transparent url(../images/common/top-about4.webp) no-repeat center center / cover;
            position: absolute;
            top: rem(-210);
            right: rem(25);
            width: 100%;
            max-width: rem(157);
            aspect-ratio: 157/128;
            z-index: 2;
        }
    }

    .top-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .top-card__img {
            width: 50%;
        }
        .top-card__contents {
            width: calc(50% + rem(72));
        }
    }
    .top-card:nth-of-type(1) {
        .top-card__contents {
            padding-left: rem(72);
            @include mq() {
                
            }
        }
    }
}

.topics {
    .topics__inner.inner {
        max-width: rem(850);
    }
    .topics__inner {
        display: flex;
        justify-content: space-between;
    }
}