@use 'global' as *;

.top-about {
    background-color: $main-green;

    .top-about__inner {
        height: inherit;
        position: relative;
        &::before {
            content: '';
            background: transparent url(../images/common/top-about4.webp) no-repeat center center / cover;
            position: absolute;
            top: -210px;
            right: 25px;
            width: 100%;
            max-width: 157px;
            aspect-ratio: 157/128;
            z-index: 2;
        }
    }

    .top-card {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .top-card__img {
            width: 50%;
        }
        .top-card__contents {
            width: calc(50% + 72px);
        }
    }
    .top-card:nth-of-type(1) {
        .top-card__contents {
            padding-left: 72px;
        }
    }
}

.topics {
    .topics__inner.inner {
        max-width: 850px;
    }
    .topics__inner {
        display: flex;
        justify-content: space-between;
    }
}