@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1100px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 20px;

////////////////////
// フォント設定
////////////////////

$base-font-family: "Shippori Mincho", serif;
$second-font-family: "Yu Gothic", "游ゴシック", "YuGothic", "メイリオ", Meiryo, sans-serif;
$third-font-family: "Lato", sans-serif;
// ※検証ツールでしっかり反映されているか確認する

// フォントウェイト
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #484848;
$white: #fff;
$main-green: #329b6e;
$main-gray: #808080;
$border-gray: #aaa;
$green-gray: #7a9086;

body {
  font-family: $base-font-family;
  color: $black;
  line-height: 1.5;
}

body.js-open {
  height: 100%;
  overflow: hidden;
}

main {
  flex: 1;
}

.main-wrap {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

//common
.fw-r { font-weight: 400!important; }
.fw-md { font-weight: 500!important; }
.fw-sb { font-weight: 600!important; }
.fw-b { font-weight: 700!important; }

.fs-45 {font-size: 45px;}
.fs-40 {font-size: 40px;}
.fs-32 {font-size: 32px;}
.fs-14 {font-size: 14px;}
.fs-13 {font-size: 13px;}