@use 'global' as *;

//横幅
.w-1380 {
  width: calc(1380 / 1440 * 100%);
  margin-inline: auto;
}

//フォント
.fw-r { font-weight: 400!important; }
.fw-md { font-weight: 500!important; }
.fw-sb { font-weight: 600!important; }
.fw-b { font-weight: 700!important; }

.fs-26 {font-size: rem(26);}
.fs-45 {font-size: rem(45);}
.fs-40 {font-size: rem(40);}
.fs-34 {font-size: rem(34);}
.fz-17 {font-size: rem(17);}
.fs-15 {font-size: rem(15);}
.fs-14 {font-size: rem(14);}
.fs-13 {font-size: rem(13);}

//游ゴシック
.ff-sec {font-family: $second-font-family;}

.ta-c {text-align: center;}
.c-white { color: $white;}

.lp-50 {letter-spacing: 0.05em;}

//余白
.mt-8 {margin-top: rem(8);}
.mt-16 {margin-top: rem(16);}
.mt-24 {margin-top: rem(24);}
.mt-32 {margin-top: rem(32);}
.mt-40 {margin-top: rem(40);}
.mt-48 {margin-top: rem(48);}
.mt-56 {margin-top: rem(56);}
.mt-64 {margin-top: rem(64);}
.mt-72 {margin-top: rem(72);}
.mt-100 {margin-top: rem(100);}
.mt-110 {margin-top: rem(110);}
.mt-130 {margin-top: rem(130);}
.mt-150 {margin-top: rem(150);}
.pb-130 {padding-block: rem(130);}
@include mq() {
  .mt-56 {margin-top: rem(40);}
  .mt-150 {margin-top: rem(130);}
  .pb-130 {padding-block: rem(110);}
}

//角丸
.br-10 {border-radius: rem(10);}
.br-15 {border-radius: rem(15);}

//反転
.flex-d {flex-direction: row-reverse}

/*-----------------------------
見出し
------------------------------*/

.sec-title {
  .sec-title__en {
    font-family: $third-font-family;
    color: $main-gray;
    position: relative;
    padding-left: calc(rem(12) + rem(60));
    font-size: rem(12);
    line-height: 1.25;
    margin-bottom: rem(24);
  }
  .sec-title__en::before {
    content: '';
    width: rem(60);
    height: rem(1);
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: $main-gray;
  }
  .sec-title__ja {
    font-size: rem(32);
    font-weight: $semi-bold;
    letter-spacing: 0.05em;
    @include mq() {
      font-size: rem(28);
    }
  }
}
.sec-title--white {
  color: $white;
    .sec-title__en {
        color: $white;
    }
    .sec-title__en::before {
        background-color: $white;
    }
}

.page-title {
  font-size: rem(45);
  font-weight: $semi-bold;
  line-height: 1.8;
  letter-spacing: 0.05em;
  padding-bottom: rem(32);
  position: relative;
  display: inline-block;
  @include mq() {
    font-size: rem(38);
  }
  &::before {
    content: '';
    background-color: $main-green;
    height: rem(1);
    width: rem(43);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  span {
    color: $main-green;
  }
}
.page-title--left {
    &::before {
      transform: translateX(0%);
      left: 0;
    }
  }

/*--------------------------------
button
----------------------------------*/
.btn {
  display: inline-block;
  position: relative;
  cursor: pointer;
  font-size: rem(16);
  font-weight: $semi-bold;
  padding-right: calc(rem(12) + rem(30));
  &::before,
  &::after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
  }
  &::before {
      width: rem(31);
      height: rem(31);
      border-radius: 50%;
      background-color: $main-green;
      right: 0;
  }
  &::after {
      background: transparent url(../images/common/arrow-white.webp) no-repeat center center / cover;
      right: rem(13);
      width: rem(5);
      height: rem(8);
  }
}
.btn--white {
    color: $white;
  &::before {
    background-color: $white;
  }
  &::after {
    background-image: url(../images/common/arrow-green.webp);
  }
}

/*--------------------------------
緑のボタン
----------------------------------*/
.cta-wrap {
  max-width: rem(350);
  margin-inline: auto;
}
.cta-btn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $main-green;
  padding: rem(20);
  cursor: pointer;
  span {
    display: inline-block;
    text-align: center;
    color: $white;
    font-size: rem(16);
    font-weight: $semi-bold;
    position: relative;
    padding-left: calc(rem(12) + rem(18));
  &::before {
      content: '';
      background: transparent url(../images/common/ico-mail-white.webp) no-repeat center center / cover;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: rem(18);
      height: rem(18);
      left: 0;
    }
  }
}
.btn--white {
    color: $white;
  &::before {
    background-color: $white;
  }
  &::after {
    background-image: url(../images/common/arrow-green.webp);
  }
}


/*----------------------------
head
---------------------------*/

.site-header {
  background-color: $white;
  
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: rem(70);
  width: 100%;
  // padding: 0 rem(43) 0 rem(60);
}
.header-inner {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: rem(1320);
  margin-inline: auto;
  padding: 0 rem(20);
}
.site-logo {
    max-width: rem(166);
}

@include mq(tb) {

  .site-header {
    padding: 0 rem(10);
    height: rem(60);
  }
  .site-logo {
    max-width: rem(140);
  }
}

@include mq(sp) {

  .site-header {
    height: rem(55);
  }
  .site-logo {
    max-width: rem(120);
  }
}


/*----------------------------
PC NAV
---------------------------*/
#nav {
  height: inherit;
}
#nav ul {
  height: inherit;
  display: flex;
  gap: rem(35);
  align-items: center;
}

#nav ul li {
  height: inherit;
  position: relative;
}

#nav ul li a {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: rem(14);
  font-weight: $bold;
  line-height: 2.1;
  transition: .5s;
}
#nav ul li:last-of-type a {
  padding-right: 0;
}
#nav ul li a:hover {
  color: $main-green;
}

footer #nav ul li a:hover {
  opacity: 0.6;
  color: $white;
}

@include mq(tb) {
 #nav {
    display: none;
  }
  footer #nav {
    display: block;
  }
}


/*--------------------------
SP-navi
---------------------------*/

.zdo_drawer_menu {
  display: none;
  @include mq() {
    display: block;
  }
  }

@include mq() {

  #menu_btn {
    position: absolute;
    top: rem(0);
    right: rem(0);
    width: rem(55);
    height: rem(55);
    z-index: 9999;
    cursor: pointer;
    transition: .3s;
  }
  .menu-trigger {
    width: rem(24);
    height: rem(17);
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .menu-trigger span {
    display: block;
    position: absolute;
    width: 100%;
    height: rem(1.5);
    background-color: $main-gray;
    transition: all .3s;
  }

  #menu_btn.js-open .menu-trigger span {
    background-color: $main-green;
  }

  .menu-trigger span:nth-of-type(1) {
    top: 0;
  }
  .menu-trigger span:nth-child(1).js-open {
    transform: rotate(-45deg);
    top: 50%;
  }

  .menu-trigger span:nth-of-type(2) {
    top: 50%;
  }
  .menu-trigger span:nth-child(2).js-open {
    display: none;
  }

  .menu-trigger span:nth-of-type(3) {
    top: 100%;
  }
  .menu-trigger span:nth-child(3).js-open {
    transform: rotate(45deg);
    top: 50%;
  }

  /*
   SP-NAVI
   ---------------------*/
  #sp_nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    z-index: 12;
    background-color: $white;
    transition: all 1s;
    right: -100%;
  }
  #sp_nav .sp_nav_inner {
    width: 100%;
    height: 100%;
    padding: rem(70) rem(50) rem(20);
    overflow: auto;
  }

  #sp_nav.js-open {
    right: 0;
  }

  #sp_nav .sp_nav_menu {
    li {
      text-align: center;
      a {
        position: relative;
        display: block;
        font-size: rem(16);
        font-weight: $bold;
        padding: rem(15) 0;
        transition: all .3s;
        // cursor: pointer;
        &:hover {
            color: $main-green;
        }
      }
    }
  }
} //sp


/*------------------------------------------
fv
-------------------------------------------*/
.fv {
  margin-top: rem(70);
  border-radius: rem(10);
  aspect-ratio: 1380/679;
  position: relative;
  background: transparent url(../images/common/top.webp) no-repeat center center / cover;
  @include mq() {
    margin-top: rem(60);
    aspect-ratio: 1380/830;
  }
  @include mq(sp) {
    margin-top: rem(55);
  }
}
.fv--consul {
  background-image: url(../images/common/consul.webp);
}
.fv--corporation {
  background-image: url(../images/common/corporation.webp);
}
.fv--about {
  background-image: url(../images/common/about.webp);
}
.fv__title {
  display: flex;
  flex-direction: row-reverse;
  gap: rem(8);
  position: absolute;
  top: calc(140 / 679 * 100%);
  // left: rem(30);
  left: calc(195 / 1380 * 100%);
}
.fv__wrap {
  height: fit-content;
  writing-mode: vertical-rl;
  font-size: rem(40);
  font-weight: $bold;
  line-height: 1.3;
  letter-spacing: 0.3em;
  color: $main-green;
  background-color: $white;
  padding: rem(8);
  border-radius: rem(8);
  @include mq() {
    font-size: rem(32);
  }
}


/*------------------------------------------
白いボックス 相談・法人ページ
-------------------------------------------*/
.boxs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: rem(56);
    row-gap: rem(32);
    .box {
        width:  calc(33.3% - calc(rem(56) * 2 / 3));
        // width: rem(329);
        background-color: $white;
        padding: rem(72) rem(27) rem(50);
        display: flex;
        flex-direction: column;
        align-items: center;
        .box__img {
            max-width: rem(112);
        }
        .box__title {
            font-size: rem(20);
            font-weight: $semi-bold;
            line-height: 1.95;
        }
    }
}


/*------------------------------------------
参加方法
-------------------------------------------*/
.cta__inner {
  display: flex;
  gap: calc(130 / 1150 * 100%);
}
.label {
  &:not(:last-of-type) .label__number::after {
    content: '';
    width: rem(1);
    height: rem(44);
    background-color: $green-gray;
    position: absolute;
    bottom: 0;
    left: rem(19);
  }
  .label__contents {
    display: flex;
    gap: rem(32);
    align-items: center;
    position: relative;
    padding-bottom: calc(rem(16) + rem(44));

    .label__number {
      color: $main-green;
      letter-spacing: 0.07em;
    }
  }

  .label__note {
    padding-left: calc(rem(32) + rem(42.16));
  }
}
//法人ページ 02
.label--p0 {
  .label__number {
    &:not(:last-of-type)::after {
      bottom: calc(rem(-16) + rem(-44));
    }
  }
  .label__contents {
    padding-bottom: 0;
  }
}


/*------------------------------------------
footer
-------------------------------------------*/
footer {
  width: 100%;
  .f-inner.inner {
    @include mq() {
      padding: 0 rem(48);
    }
  }
}

.footer-flex {
  padding: rem(88) 0 rem(64);
  background-color: $main-green;
  color: $white;
  border-radius: rem(15) rem(15) 0 0;
}

.f-top {
  display: flex;
  justify-content: space-between;
  @include mq() {
    flex-direction: column;
    gap: rem(24);
  }
}

  .f-left {
    .f-logo {
        max-width: rem(166);
    }
    .f-sns {
        margin-top: rem(22);
        display: flex;
        align-items: center;
        gap: rem(6);
        .f-sns-ico {
            border-radius: 50%;
            width: rem(28);
            height: rem(28);
            position: relative;
            img {
              width: rem(12);
              height: rem(12);
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
        }
        .f-sns-ico:nth-of-type(1) {
            background-color: $black;
        }
        .f-sns-ico:nth-of-type(2) {
            background-color: $white;
        }
    }
  }
  .f-bottom {
    display: flex;
    align-items: end;
    justify-content: space-between;
      .f-left-bottom {
        margin-top: rem(45);
        .f-adress {
            font-size: rem(14);
            font-weight: $medium;
            letter-spacing: 0.03em;
            margin-bottom: rem(27);
        }
        .f-text {
            padding-left: calc(rem(9) + rem(18));
            position: relative;
            font-size: rem(15);
            font-weight: $medium;
            line-height: 1.7;
            span {
                font-size: rem(13);
            }
            &::before {
            content: '';
            width: rem(18);
            height: rem(17);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
        }
        }
        .f-text + .f-text {
          margin-top: rem(18);
        }
        .f-text:nth-of-type(1)::before {
          background-image: url(../images/common/ico-tel.webp);
        }
        .f-text:nth-of-type(2)::before {
          background-image: url(../images/common/ico-mail.webp);
        }
    }
  }

  .f-right {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }


footer .copy {
  font-size: rem(12);
  line-height: 1.4;
  text-align: right;
}